{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
            <div class="row wrapper border-bottom white-bg page-heading">
                <div class="col-lg-10">
                    <h2>充电网络用量统计图表</h2>
                </div>
            </div>

            <div class="wrapper wrapper-content animated fadeInRight">
                <div class="row">
					 <div class="col-md-12">
						<div class="ibox float-e-margins">
							<div class="ibox-title">
								<h5>充电网络用量统计</h5>
								<div class="ibox-tools">
									<select id="select-group" style="margin-right: 15px;width: 120px;background-color: #fff;border-radius: 5px;" onchange="ui.select_change()"></select>
									<select id="select-date"  style="margin-right: 15px;width: 120px;background-color: #fff;border-radius: 5px;" onchange="ui.select_change()">
										<option value="days">近7天</option>
										<option value="weeks">近7周</option>
										<option value="quarters">近4季度</option>
									</select>
									<a class="collapse-link">
										<i class="fa fa-chevron-up"></i>
									</a>
									<a class="close-link">
										<i class="fa fa-times"></i>
									</a>
								</div>
							</div>
							<div class="ibox-content" style="height: 900px">
								<div class="flot-chart">
									<div class="flot-chart-content" id="line_charts" style="height: 850px"></div>
								</div>
							</div>
						</div>
					</div>
                </div>
            </div>
{% endblock content %}


{% block script %}
<script>
		var lineChart = echarts.init(document.getElementById("line_charts"));
		var ui = {
			lineChartDraw: function(){
				var _this = this;
				var option = {
					tooltip : {
						trigger: 'axis',
						axisPointer: {
							type: 'cross',
							label: {
								backgroundColor: '#6a7985'
							}
						}
					},
					legend: {
						data:['邮件营销','联盟广告','视频广告','直接访问','搜索引擎']
					},
					toolbox: {
						feature: {
							saveAsImage: {}
						}
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					xAxis : [
						{
							type : 'category',
							boundaryGap : false,
							data : ['周一','周二','周三','周四','周五','周六','周日']
						}
					],
					yAxis : [{type : 'value'}],
					series : [
						{
							name:'邮件营销',
							type:'line',
							stack: '总量',
							areaStyle: {},
							data:[120, 132, 101, 134, 90, 230, 210]
						},
						{
							name:'搜索引擎',
							type:'line',
							stack: '总量',
							label: {
								normal: {
									show: true,
									position: 'top'
								}
							},
							areaStyle: {normal: {}},
							data:[820, 932, 901, 934, 1290, 1330, 1320]
						}
					]
				}
				return option;
			},
			updatelineChart: function() {
				var _this = this;
				var option = _this.lineChartDraw();
				var group_id = $("#select-group").val();
				var date_type = $("#select-date").val();
				$.ajax({
					url: '/bmw/chart/getChargingQuantityLine',
					method: 'get',
					data: {group_id: group_id,date_type: date_type},
					timeout: 5000,
					success: function(res){
						lineChart.hideLoading();
						lineChart.setOption(option);
					},
					error: function(){
						console.log('connect /bmw/chart/getChargingQuantityLine failed');
					}
				});
			},
			getGroupList: function(){
				var groupList = null;
				$.ajax({
					url: '/api/charger/groups/',
					method: 'get',
					async : false,
					success: function(data){
						groupList = data;
					},
					error: function(e){
						console.log('connect /api/charger/groups/ error');
					}
				});
				return groupList;
			},
			initlineSelect: function(){
				var group_list = ui.getGroupList();
				if(group_list){
					group_list.forEach(function (gid) {
						ui.addSelectOption($('#select-group'), gid["vchgroupid"]);
					});
				}
			},
			addSelectOption: function(obj, val){
				var option = document.createElement("option");
				$(option).val(val);
				$(option).text(val);
				obj.append(option);
			},
			select_change: function(){
				var _this = this;
				this.updatelineChart();
			},
			init: function(){
				//$('#select-date').val(1);
				this.initlineSelect();
				this.updatelineChart();
			}
		}
		$(document).ready(function(){
			ui.init();
		});
</script>
{% endblock script %}
