{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}
<style>
.p10 { float: left; width: 10%; padding: 0 15px; }
#chargerGroup .widget{ padding: 10px 0; text-align: center; border-radius: 0; }
#charger_note .b_item{ float: left; padding: 0 15px; }
.b_item .block{ display: inline-block !important; width: 50px; height: 10px; }
.b_item p { display: inline-block; }
</style>
                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row" id="overviewStats">
                           <div class="col-lg-3">
                                <div class="widget style1 navy-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="icon iconfont icon-chongdianzhuang fa-4x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> 电桩总数 </span>
                                            <h2 class="font-bold value total-charger">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget style1 navy-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="icon iconfont icon-chargingpile fa-4x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> 总充电电量 </span>
                                            <h2 class="font-bold value accumulate-power">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget style1 lazur-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="icon iconfont icon-attacktime fa-4x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> 总充电次数 </span>
                                            <h2 class="font-bold value accumulate-minutes">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget style1 yellow-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="icon iconfont icon-zhengzaishiyong fa-4x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> 正在使用 </span>
                                            <h2 class="font-bold value total-charging">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
						
						<!-- 10x10
						<div class="ibox float-e-margins">
							<div class="ibox-content">
								<div id="charger_note" class="row">
									<div class="b_item">
										<div class="block navy-bg"></div>
										<p>Available</p>
									</div>
									<div class="b_item">
										<div class="block lazur-bg"></div>
										<p>Charging</p>
									</div>
									<div class="b_item">
										<div class="block yellow-bg"></div>
										<p>Boot notification</p>
									</div>
								</div>
								<div id="chargerGroup">
								</div>
							</div>
						</div> -->

                        <!-- chart 1 -->
                        <div class="row">
                            <div class="col-md-12" hidden>
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>相位仪表图</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                        <div class="ibox-content" style="padding-left: 0; padding-right: 0;">
                                            <div id="guage1" style="height: 200px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>

							<div id="time_selsect" style="margin-left:30%;margin-bottom:30px;">
								<label class="btn btn-primary"><input type="radio" class="control-label" value="1" name="category" checked/>5分钟</label>
								<label class="btn btn-primary" style="margin-left:50px"><input type="radio" class="control-label" value="2" name="category" />15分钟</label>
								<label class="btn btn-primary" style="margin-left:50px"><input type="radio" class="control-label" value="3" name="category" />1小时</label>
								<label class="btn btn-primary" style="margin-left:50px"><input type="radio" class="control-label" value="4" name="category" />4小时</label>
								<label class="btn btn-primary" style="margin-left:50px"><input type="radio" class="control-label" value="5" name="category" />24小时</label>
							</div>

							<div id="send_data_test" style="margin-left:50px;margin-top:30px;">
								<span>仅供测试</span>
								<label class="btn btn-primary" style="margin-left:50px"><input id="0501010A" type="checkbox"/>0501010A模拟发送数据</label>
								<label class="btn btn-primary" style="margin-left:50px"><input id="0501010B" type="checkbox"/>0501010B模拟发送数据</label>
								<label class="btn btn-primary" style="margin-left:50px"><input id="0501010C" type="checkbox"/>0501010C模拟发送数据</label>
							</div>

							 <div class="col-md-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>实时电流信息</h5>
                                        <div class="ibox-tools">
											<select id="select-sc" style="margin-right: 15px;width: 120px;background-color: #fff;border-radius: 5px;" onchange="ui.select_change(1)"></select>
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content" style="height: 550px">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-line-chart-moving" style="height: 500px"></div>
                                        </div>
									</div>
                                </div>
                            </div>
							
							<div class="col-md-12">
                                <div class="ibox float-e-margins">
									<div class="ibox-title">
                                        <h5>实时电量信息</h5>
                                        <div class="ibox-tools">
											<select id="select-ce" style="margin-right: 15px;width: 120px;background-color: #fff;border-radius: 5px;" onchange="ui.select_change(2)"></select>
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
									<div class="ibox-content" style="height: 550px">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-line-chart-moving-1" style="height: 500px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chart 2 -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Charger ID（电桩ID）</th>
                                                <th>Firmware Ver（固件版本）</th>
                                                <th>Model ID（固件ID）</th>
                                                <th>Vch Commend（流程）</th>
                                                <th>LastConnTime（上次连接时间）</th>
                                                <th>State（状态）</th>
                                                <th>操作命令</th>
                                            </tr>
                                            </thead>
                                            <tbody id="table_content">
                                                <!-- <tr>
                                                    <td><a href="/details/" target="_blank" role="button">05010101</a></td>
                                                    <td>192.168.6.10-20</td>
                                                    <td>CNMB19166</td>
                                                    <td>当前时间</td>
                                                    <td class="text-navy">就绪</td>
                                                    <td>EV-CHARGER-21KW</td>
                                                    <td>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">开始充电</a>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">复位</a>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">更新</a>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">停止充电</a>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">拓展</a>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}


{% block script %}
    <!-- Flot -->
    <script src="/static/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.time.js"></script>

    <script src="/static/js/jquery.url.js"></script>

    <script src="{% static 'js/mqttws31.js' %}"></script>
    <script>
/******************************for test***********************************/
str_mod='[2, "05010107-20190603T143214-3952218486", "MeterValues", {"meterValue": {"ElapsedTime": 413, "SupplyCurrent": {0}, "ConsumedEnergy": 1433, "timestamp": "2019-06-03T14:32:14"}, "transactionId": 356835, "connectorId": 3, "chargerId": \"{1}\"}]';
var timer_0501010A,timer_0501010B,timer_0501010C;
var options = {
	timeout: 3,
	onSuccess: function() {
		//alert("Connected");
	},
	onFailure: function(message) {
		//alert("Connection failed: " + message.errorMessage);
	}
};
var client = new Messaging.Client("mqtt.e-chong.com", 8083, Math.random().toString(36).substr(2), 10);
client.connect(options);
client.onConnectionLost = function(responseObject) {
	//alert("connection lost: " + responseObject.errorMessage);
};
String.prototype.format = function () {
    var values = arguments;
    return this.replace(/\{(\d+)\}/g, function (match, index) {
        if (values.length > index) {
            return values[index];
        } else {
            return "";
        }
    });
};
function send_mqtt(num,cid){
	var str=str_mod.format(num,cid);
	var message = new Messaging.Message(str);
	message.destinationName = "Message/"+cid+"/MeterValues";
	message.qos = 2;
	client.send(message);
}
$("#0501010A").click(function () {
	if ($(this).prop("checked")) {
		timer_0501010A = setInterval(function(){
			send_mqtt(100,"0501010A");
		  }, 1000);
	} else {
		clearInterval(timer_0501010A);
	}
});
$("#0501010B").click(function () {
	if ($(this).prop("checked")) {
		timer_0501010B = setInterval(function(){
			send_mqtt(200,"0501010B");
		  }, 1000);
	} else {
		clearInterval(timer_0501010B);
	}
});
$("#0501010C").click(function () {
	if ($(this).prop("checked")) {
		timer_0501010C = setInterval(function(){
			send_mqtt(500,"0501010C");
		  }, 1000);
	} else {
		clearInterval(timer_0501010C);
	}
});
/******************************for test***********************************/
        var ui = {
			lineChart: function(){
				this.activeCidList = [];						//active电桩列表
				this.chargeTimeDic = new Array();	//存储所有电桩实时充电时间
				this.myChart = echarts.init(document.getElementById('flot-line-chart-moving'));
				this.myChart1 = echarts.init(document.getElementById('flot-line-chart-moving-1'));
                this.optionSC = this.lineChartDrawSupplyCurrent();	//电流
				this.optionCE = this.lineChartDrawConsumedEnergy();	//电量
                var _this = this;
				ui.addSelectOption($('#select-sc'), 'all');
				ui.addSelectOption($('#select-ce'), 'all');
            },
			//获取索引
			indexOf: function(arr,item){
				var ret=-1;
				for( var i=0;i<arr.length;i++){
					if(arr[i]==item)
						ret = i;
				}
				return ret;
			},
			isEmptyObject: function(obj) {
				for (var key in obj) {
					return false;
				}
				return true;
			},
			formatSeconds: function (value) {
				var theTime = parseInt(value);// 秒
				var theTime1 = 0;// 分
				var theTime2 = 0;// 小时
				if(theTime > 60) {
					theTime1 = parseInt(theTime/60);
					theTime = parseInt(theTime%60);
						if(theTime1 > 60) {
						theTime2 = parseInt(theTime1/60);
						theTime1 = parseInt(theTime1%60);
						}
				}
					var result = ""+parseInt(theTime)+"秒";
					if(theTime1 > 0) {
					result = ""+parseInt(theTime1)+"分"+result;
					}
					if(theTime2 > 0) {
					result = ""+parseInt(theTime2)+"小时"+result;
					}
				return result;
			},
            lineChartDrawSupplyCurrent: function(){
                var _this = this;

                option = {
					legend: {
						data:[]
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: "cross",
						},
						formatter: function (params) {
							var result = "充电时间</br>";
							params.forEach(function (item) {
								if(_this.chargeTimeDic[item.seriesName])
									result += item.marker + " " + item.seriesName + " : " + _this.formatSeconds(_this.chargeTimeDic[item.seriesName]) +"</br>";
								else
									result += item.marker + " " + item.seriesName + " : 未充电</br>";
							});
							return result;
						}
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					xAxis: {
						type: 'category',
						name: '时间',
						nameTextStyle:{
								color: '#999',
								fontStyle: 'italic',
								fontWeight: 'normal',
								fontSize: 14,
						},
						boundaryGap: false,
						axisLine: {
							show: true,
							lineStyle: {
								color: '#999',
							}
						},
						data: []
					},
					yAxis: {
						type: 'value',
						name: '电流/A',
						axisLine: {
							show: true,
							lineStyle: {
								color: '#999',
							}
						},
						boundaryGap: [0, '30%'],
						splitLine: {
							show: true
						}
					},
					series: [],
					dataZoom: [{
						type: 'slider',//图表下方的伸缩条
						minSpan:8,    //5min
						//show : true,  //是否显示
						//realtime : true,  //
						//start : 80,  //伸缩条开始位置（1-100），可以随时更改
						//end : 100,  //伸缩条结束位置（1-100），可以随时更改
					},],
				};

                return option;
            },
			lineChartDrawConsumedEnergy: function(){
                var _this = this;

                option = {
					legend: {
						data:[]
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: "cross",
						},
						formatter: function (params) {
							var result = "充电时间</br>";
							params.forEach(function (item) {
								if(_this.chargeTimeDic[item.seriesName])
									result += item.marker + " " + item.seriesName + " : " + _this.formatSeconds(_this.chargeTimeDic[item.seriesName]) +"</br>";
								else
									result += item.marker + " " + item.seriesName + " : 未充电</br>";
							});
							return result;
						}
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					xAxis: {						
						type: 'category',
						name: '时间',
						nameTextStyle:{
								color: '#999',
								fontStyle: 'italic',
								fontWeight: 'normal',
								fontSize: 14,
						},
						boundaryGap: false,
						axisLine: {
							show: true,
							lineStyle: {
								color: '#999',
							}
						},
						data: []
					},
					yAxis: {
						type: 'value',
						name: '电量/Wh',
						axisLine: {
							show: true,
							lineStyle: {
								color: '#999',
							}
						},
						boundaryGap: [0, '30%'],
						splitLine: {
							show: true
						}
					},
					series: [],
					dataZoom: [{  
						type: 'slider',//图表下方的伸缩条
						minSpan:8,    //5min
						//show : true,  //是否显示
						//realtime : true,  //
						//start : 80,  //伸缩条开始位置（1-100），可以随时更改
						//end : 100,  //伸缩条结束位置（1-100），可以随时更改
					},],
				};

                return option;
            },
            updateLineChart: function(cid, data, list_name, option) {
				var _this = this;
				var flag = 0;

				for(var i in option.series)
				{
					if(option.series[i].name == cid){
						flag=1;
						option.series[i].data = data[list_name];
					}
				}
				if(flag == 0)		//不存在该cid折线图时动态创建
				{
					var item = {
						name: cid,
						type: 'line',
						//symbol: 'none',
						smooth: true,
						lineStyle: {
							normal: {
								width: 2,
								//shadowColor: 'rgba(0,0,0,0.4)',
								//shadowBlur: 10,
								//shadowOffsetY: 10
							}
						},
						data:data[list_name]
					}
					option.series.push(item);
					option.legend.data.push(cid);
				}
				
            },
            pieChart: function(){
				var _this = this;
				/*3個儀錶盤*/
                var guage1 = echarts.init(document.getElementById('guage1'));

                var option = {
                    tooltip : {
                        formatter: "{a} <br/>{c} {b}"
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    series : [
                        {
                            name: '转速',
                            type: 'gauge',
                            center: ['19%', '50%'],    // 默认全局居中
                            radius: '100%',
                            min:0,
                            max:200,
                            //endAngle:45,
                            splitNumber:5,
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 8
                                }
                            },
                            axisTick: {            // 坐标轴小标记
                                length:12,        // 属性length控制线长
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    color: 'auto'
                                }
                            },
                            splitLine: {           // 分隔线
                                length:20,         // 属性length控制线长
                                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                    color: 'auto'
                                }
                            },
                            pointer: {
                                width:5
                            },
                            title: {
                                offsetCenter: [0, '-30%'],       // x, y，单位px
                            },
                            detail : {
                                fontWeight: 'bolder',
                                offsetCenter: [0, '70%'],
                                fontSize: 18
                            },
                            data:[{value: 1.5, name: ''}]
                        },
                        {
                            name: '速度',
                            type: 'gauge',
                            center: ['50.5%', '50%'],
                            z: 3,
                            min: 0,
                            max: 200,
                            splitNumber: 5,
                            radius: '100%',
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 10
                                }
                            },
                            axisTick: {            // 坐标轴小标记
                                length: 15,        // 属性length控制线长
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    color: 'auto'
                                }
                            },
                            splitLine: {           // 分隔线
                                length: 20,         // 属性length控制线长
                                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                    color: 'auto'
                                }
                            },
                            detail : {
                                fontWeight: 'bolder',
                                offsetCenter: [0, '70%'],
                                fontSize: 18
                            },
                            data:[{value: 1, name: ''}]
                        },
                        {
                            name: '油表',
                            type: 'gauge',
                            center: ['82%', '50%'],    // 默认全局居中
                            radius: '100%',
                            min: 0,
                            max: 200,
                            //startAngle: 135,
                            //  endAngle: 45,
                            splitNumber: 8,
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 8
                                }
                            },
                            axisTick: {            // 坐标轴小标记
                                splitNumber: 5,
                                length: 10,        // 属性length控制线长
                                lineStyle: {        // 属性lineStyle控制线条样式
                                    color: 'auto'
                                }
                            },
                            splitLine: {           // 分隔线
                                length: 15,         // 属性length控制线长
                                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                    color: 'auto'
                                }
                            },
                            pointer: {
                                width:2
                            },
                            title : {
                                show: false
                            },
                            detail : {
                                fontWeight: 'bolder',
                                offsetCenter: [0, '70%'],
                                fontSize: 18
                            },
                            data:[{value: 0.5, name: 'gas'}]
                        }
                    ]
                };

                setInterval(
                    function (){
						/*
						$.ajax({
                            url: '/api/max/current/list/',
                            method: 'get',
                            success: function(data){
                                option.series[0].data[0].value = data.int_max_current_a;
                                option.series[1].data[0].value = data.int_max_current_b;
                                option.series[2].data[0].value = data.int_max_current_c;
                                guage1.setOption(option,true);
                            },
                            error: function(e){
                                console.log('connect '+this.url+' error',e);
                            }
                        });*/
						var groupId = jQuery.url.param('groupId');
						var time_step = $('#time_selsect input:radio:checked').val();
						$.ajax({
							url: '/api/chargers/realtime/data/',
							method: 'get',
							timeout: 5000,
							data: {gid: groupId, time_step: time_step},
							success: function(res){
								//console.log(res);
								if(!ui.isEmptyObject(res)){
									for(var cid in res){
										if(ui.indexOf(ui.activeCidList, cid) < 0)
										{
											ui.activeCidList.push(cid);
											ui.addSelectOption($('#select-sc'), cid);
											ui.addSelectOption($('#select-ce'), cid);
										}
										_this.chargeTimeDic[cid] = res[cid]["elapsed_time"];
										_this.updateLineChart(cid, res[cid], "supply_current_list", ui.optionSC);
										_this.updateLineChart(cid, res[cid], "consumed_energy_list", ui.optionCE);
										ui.optionSC.xAxis.data = res[cid]["timestamp_list"];
										ui.optionCE.xAxis.data = res[cid]["timestamp_list"];
										ui.myChart.setOption(ui.optionSC);
										ui.myChart1.setOption(ui.optionCE);
									}
								}else{
									console.log("recieve null {}");
								}
							},
							error: function(){
								console.log('connect api/chargers/realtime/data/ failed');
							}
						});

						ui.tableContent();
					},5000
                );

            },
			loadAjax: function(){
                //顶部电桩总数...Charger Info数量统计接口
                $.ajax({
                    url: '/api/charger/info/statistic/',
                    method: 'get',
                    timeout: 5000,
                    success: function(data){
                        $('#overviewStats .total-charger').text(data["total_charger"]);
                        $('#overviewStats .total-charging').text(data["total_charging"]);
                        $('#overviewStats .accumulate-power').text(data["accumulate_power"]);
                        $('#overviewStats .accumulate-minutes').text(data["accumulate_minutes"]);
                    },
                    error: function(){
                        console.log('connect api/charger/info/statistic/ failed');
                    }
                });

            },
			getChargerList: function(){
				var groupId = jQuery.url.param('groupId');
				var chargerList = null;
                $.ajax({
                    url: '/api/charger/list/',
                    method: 'get',
					async : false,
                    data: {group_id: groupId},
                    success: function(data){
						chargerList = data.data;
                    },
                    error: function(e){
                        console.log('connect '+this.url+' error',e);
                    }
                });
				return chargerList;
			},
			addSelectOption: function(obj, val){
				var option = document.createElement("option");
				$(option).val(val);
				$(option).text(val);
				obj.append(option);
			},
			select_change: function(val){
				var _this = this;
				var chartName;
				var obj;
				if(val == 1){
					chartName = _this.myChart;
					obj = $("#select-sc");
				}else{
					chartName = _this.myChart1;
					obj = $("#select-ce");
				}
					
				if(obj.val() == "all"){
					var selectList = [];
					for(var i=0; i<_this.activeCidList.length; i++){
						var tmp = {name: _this.activeCidList[i]};
						selectList.push(tmp);
					}
					chartName.dispatchAction({
						type: 'legendSelect',
						batch: selectList
					});
				}else{
					var unSelectList = [];
					for(var i=0; i<_this.activeCidList.length; i++){
						if(obj.val() != _this.activeCidList[i]){
							var tmp = {name: _this.activeCidList[i]};
							unSelectList.push(tmp);
						}
					}
					//console.log(unSelectList);
					chartName.dispatchAction({
						type: 'legendUnSelect',
						batch: unSelectList
					});
					chartName.dispatchAction({
						type: 'legendSelect',
						name: obj.val()
					});
				}
			},
			init_dic: function(res){
				var _this = this;
				$.each(res, function(index, item){
					_this.chargeTimeDic[item.vch_charger_id] = null;
				});
			},
            tableContent: function(){
                var res = this.getChargerList();
				var html = '';
				if(res){
					$.each(res, function(index, item){
						html += '<tr>\
									<td><a href="/details/" target="_blank" role="button">'+item.vch_charger_id+'</a></td>\
									<td>'+item.vch_firmware_ver+'</td>\
									<td>'+item.vch_model_id+'</td>\
									<td>'+item.vch_command+'</td>\
									<td>'+item.dtt_lastConnTime+'</td>\
									<td class="text-navy" id="cid_' +item.vch_charger_id+ '">'+item.vch_state+'</td>\
									<td>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">开始充电</a>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">复位</a>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">更新</a>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">停止充电</a>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">拓展</a>\
									</td>\
								</tr>';
					});

					$('#table_content').html(html);
				}
            },
			chargerGroup: function() {
                $.ajax({
                    url: '/bmw/getChargerStatesByGroup',
                    method: 'get',
                    timeout: 5000,
                    success: function(data){
                        var html = ''
                        $.each(data, function(index, item){
                            html += '<div class="row">'
                            $.each(item, function(itemIndex, itemItem){
                                var style = {available: 'navy-bg', charging: 'lazur-bg', bootnotification: 'yellow-bg'}
                                html += `<div class="p10">
                                        <div class="widget style1 ${style[itemItem.vchstate.toLowerCase()]}">
                                           ${itemItem.vchchargerid}
                                        </div>
                                    </div>`
                            })
                            html += '</div>'
                        });
                        $('#chargerGroup').html(html);
                    },
                    error: function(){
                        console.log('load '+this.url+' failed');
                    }
                });
            },
			eventsHandler: function(){
                window.addEventListener("resize", () => {
                    ui.myChart.resize();
                    ui.myChart1.resize();
                });
            },

            init: function(){
				this.loadAjax();
                this.lineChart();
                this.pieChart();
				this.init_dic(this.getChargerList());
				this.tableContent();
				this.eventsHandler();
				this.chargerGroup();
            }
        }

        $(document).ready(function(){
            ui.init();
        });
    </script>


{% endblock script %}
