{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

                    <div class="wrapper wrapper-content animated fadeInRight">
                        <div class="row" id="overviewStats">
                           <div class="col-lg-3">
                                <div class="widget style1 navy-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="icon iconfont icon-chongdianzhuang fa-4x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> 电桩总数 </span>
                                            <h2 class="font-bold value">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget style1 navy-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="icon iconfont icon-chargingpile fa-4x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> 总充电电量 </span>
                                            <h2 class="font-bold value">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget style1 lazur-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="icon iconfont icon-attacktime fa-4x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> 总充电次数 </span>
                                            <h2 class="font-bold value">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-3">
                                <div class="widget style1 yellow-bg">
                                    <div class="row">
                                        <div class="col-xs-4">
                                            <i class="icon iconfont icon-zhengzaishiyong fa-4x"></i>
                                        </div>
                                        <div class="col-xs-8 text-right">
                                            <span> 正在使用 </span>
                                            <h2 class="font-bold value">0</h2>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>


                        <!-- chart 1 -->
                        <div class="row">
                            <div class="col-md-12" hidden>
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>相位仪表图</h5>
                                        <div class="ibox-tools">
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                        <div class="ibox-content" style="padding-left: 0; padding-right: 0;">
                                            <div id="guage1" style="height: 200px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
							 <div class="col-md-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-title">
                                        <h5>实时电流信息</h5>
                                        <div class="ibox-tools">
											<select id="select-sc" style="margin-right: 15px;width: 120px;background-color: #fff;border-radius: 5px;" onchange="ui.select_change(1)"></select>
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
                                    <div class="ibox-content" style="height: 550px">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-line-chart-moving" style="height: 500px"></div>
                                        </div>
									</div>
                                </div>
                            </div>
							
							<div class="col-md-12">
                                <div class="ibox float-e-margins">
									<div class="ibox-title">
                                        <h5>实时电量信息</h5>
                                        <div class="ibox-tools">
											<select id="select-ce" style="margin-right: 15px;width: 120px;background-color: #fff;border-radius: 5px;" onchange="ui.select_change(2)"></select>
                                            <a class="collapse-link">
                                                <i class="fa fa-chevron-up"></i>
                                            </a>
                                            <a class="close-link">
                                                <i class="fa fa-times"></i>
                                            </a>
                                        </div>
                                    </div>
									<div class="ibox-content" style="height: 550px">
                                        <div class="flot-chart">
                                            <div class="flot-chart-content" id="flot-line-chart-moving-1" style="height: 500px"></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <!-- chart 2 -->
                        <div class="row">
                            <div class="col-md-12">
                                <div class="ibox float-e-margins">
                                    <div class="ibox-content">
                                        <table class="table table-striped">
                                            <thead>
                                            <tr>
                                                <th>Charger ID（电桩ID）</th>
                                                <th>Firmware Ver（固件版本）</th>
                                                <th>Model ID（固件ID）</th>
                                                <th>Vch Commend（流程）</th>
                                                <th>LastConnTime（上次连接时间）</th>
                                                <th>State（状态）</th>
                                                <th>操作命令</th>
                                            </tr>
                                            </thead>
                                            <tbody id="table_content">
                                                <!-- <tr>
                                                    <td><a href="/details/" target="_blank" role="button">05010101</a></td>
                                                    <td>192.168.6.10-20</td>
                                                    <td>CNMB19166</td>
                                                    <td>当前时间</td>
                                                    <td class="text-navy">就绪</td>
                                                    <td>EV-CHARGER-21KW</td>
                                                    <td>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">开始充电</a>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">复位</a>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">更新</a>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">停止充电</a>
                                                        <a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">拓展</a>
                                                    </td>
                                                </tr> -->
                                            </tbody>
                                        </table>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
{% endblock content %}


{% block script %}

    <!-- Flot -->
    <script src="/static/js/plugins/flot/jquery.flot.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.tooltip.min.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.resize.js"></script>
    <script src="/static/js/plugins/flot/jquery.flot.time.js"></script>

    <script src="/static/js/jquery.url.js"></script>

    <script src="{% static 'js/mqttws31.js' %}"></script>
    <script>
        var ui = {
            lineChart: async function(){
				this.listLength = 0;
				this.activeCidList = [];						//active电桩列表
				this.SupplyCurrentDic = new Array();	//存储所有电桩实时电流信息	SupplyCurrent
				this.ConsumedEnergyDic = new Array();	//存储所有电桩实时电量信息	ConsumedEnergy
				this.chargeTimeDic = new Array();	//存储所有电桩实时充电时间
				this.chargeTimerDic = new Array();	//存储所有电桩定时器
				this.myChart = echarts.init(document.getElementById('flot-line-chart-moving'));
				this.myChart1 = echarts.init(document.getElementById('flot-line-chart-moving-1'));
                this.optionSC = this.lineChartDrawSupplyCurrent();	//电流
				this.optionCE = this.lineChartDrawConsumedEnergy();	//电量
				
                var _this = this;

                var options = {
                    timeout: 3,
                    //Gets Called if the connection has sucessfully been established
                    onSuccess: function() {
                        //alert("Connected");						
						var res = ui.getChargerList();
						if(res){
							$.each(res, function(index, item){
								client.subscribe('Message/'+ item.vch_charger_id + '/#', {qos: 2});
							});
						}
						/*
						var cid_list=['05010101','05010102','05010103','05010104','05010205','05010106','05010207','05010208','05010209','05010210'];
						for(var i in cid_list){
							ui.cidList.push(cid_list[i]);
							client.subscribe('Message/'+ cid_list[i] + '/#', {qos: 2});
						}*/

                    },
                    //Gets Called if the connection could not be established
                    onFailure: function(message) {
                        alert("Connection failed: " + message.errorMessage);
                    }
                };

                //connect
                //Using the HiveMQ public Broker, with a random client Id
				var client = new Messaging.Client("mqtt.e-chong.com", 8083, Math.random().toString(36).substr(2), 10);

                client.connect(options);
				ui.addSelectOption($('#select-sc'), 'all');
				ui.addSelectOption($('#select-ce'), 'all');

                //Gets called whenever you receive a message for your subscriptions
                client.onMessageArrived = function(message) {

                    //Do something with the push message you received
                    var str = message.payloadString;
                    var obj = JSON.parse(str);
                    console.log('receive', obj);
					if(obj[2] == "MeterValues"){
						var cid=obj[3].chargerId;
						if(ui.indexOf(ui.activeCidList, cid) < 0)
						{
							ui.activeCidList.push(cid);
							ui.addSelectOption($('#select-sc'), cid);
							ui.addSelectOption($('#select-ce'), cid);
						}
							
						
						/*if(_this.chargeTimerDic[cid])
							clearTimeout(_this.chargeTimerDic[cid]);
						_this.chargeTimerDic[cid] = setTimeout(function(){ 			//20秒未收到信息就清空电量电流list
															_this.SupplyCurrentDic[cid].length = 0;
														  	_this.ConsumedEnergyDic[cid].length = 0;
														  }, 120000);*/
						
						_this.chargeTimeDic[cid] = obj[3].meterValue.ElapsedTime;
						_this.updateLineChartSC(cid, obj[3].meterValue.SupplyCurrent/1000, ui.optionSC);
						_this.updateLineChartCE(cid, obj[3].meterValue.ConsumedEnergy, ui.optionCE);
					}else{
					
					}
					
                };

                //Creates a new Messaging.Message Object and sends it to the HiveMQ MQTT Broker
                var publish = function(payload, topic, qos) {
                    //Send your message (also possible to serialize it as JSON or protobuf or just use a string, no limitations)
                    var message = new Messaging.Message(payload);
                    message.destinationName = topic;
                    message.qos = qos;
                    client.send(message);
                }

                //Gets  called if the websocket/mqtt connection gets disconnected for any reason
                client.onConnectionLost = function(responseObject) {
                    //Depending on your scenario you could implement a reconnect logic here
                    alert("connection lost: " + responseObject.errorMessage);
                };
            },
			//获取索引
			indexOf: function(arr,item){
				var ret=-1;
				for( var i=0;i<arr.length;i++){
					if(arr[i]==item)
						ret = i;
				}
				return ret;
			},
			formatSeconds: function (value) {
				var theTime = parseInt(value);// 秒
				var theTime1 = 0;// 分
				var theTime2 = 0;// 小时
				if(theTime > 60) {
					theTime1 = parseInt(theTime/60);
					theTime = parseInt(theTime%60);
						if(theTime1 > 60) {
						theTime2 = parseInt(theTime1/60);
						theTime1 = parseInt(theTime1%60);
						}
				}
					var result = ""+parseInt(theTime)+"秒";
					if(theTime1 > 0) {
					result = ""+parseInt(theTime1)+"分"+result;
					}
					if(theTime2 > 0) {
					result = ""+parseInt(theTime2)+"小时"+result;
					}
				return result;
			},
            lineChartDrawSupplyCurrent: function(){
                var _this = this;

                option = {
					legend: {
						data:[]
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: "cross",
						},
						formatter: function (params) {
							var result = "充电时间</br>";
							params.forEach(function (item) {
								if(_this.chargeTimeDic[item.seriesName])
									result += item.marker + " " + item.seriesName + " : " + _this.formatSeconds(_this.chargeTimeDic[item.seriesName]) +"</br>";
								else
									result += item.marker + " " + item.seriesName + " : 未充电</br>";
							});
							return result;
						}
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					xAxis: {						
						type: 'category',
						name: '时间',
						nameTextStyle:{
								color: '#999',
								fontStyle: 'italic',
								fontWeight: 'normal',
								fontSize: 14,
						},
						boundaryGap: false,
						axisLine: {
							show: true,
							lineStyle: {
								color: '#999',
							}
						},
						data: (function (){
							var now = new Date();
							var res = [];
							var len = 10;
							while (len--) {
								res.unshift(now.toLocaleTimeString('chinese',{hour12:true}).replace(/^\D*/,''));   //unshift() 方法可向数组的开头添加一个或更多元素，并返回新的长度。
								now = new Date(now - 1000);
							}
							return res;                     //返回一个以当前时间为末位的间隔为2秒的10元素的列表
						})()
					},
					yAxis: {
						type: 'value',
						name: '电流/A',
						axisLine: {
							show: true,
							lineStyle: {
								color: '#999',
							}
						},
						boundaryGap: [0, '30%'],
						splitLine: {
							show: true
						}
					},
					series: [
						
					]
				};

                return option;
            },
			lineChartDrawConsumedEnergy: function(){
                var _this = this;

                option = {
					legend: {
						data:[]
					},
					tooltip: {
						trigger: 'axis',
						axisPointer: {
							type: "cross",
						},
						formatter: function (params) {
							var result = "充电时间</br>";
							params.forEach(function (item) {
								if(_this.chargeTimeDic[item.seriesName])
									result += item.marker + " " + item.seriesName + " : " + _this.formatSeconds(_this.chargeTimeDic[item.seriesName]) +"</br>";
								else
									result += item.marker + " " + item.seriesName + " : 未充电</br>";
							});
							return result;
						}
					},
					grid: {
						left: '3%',
						right: '4%',
						bottom: '3%',
						containLabel: true
					},
					xAxis: {						
						type: 'category',
						name: '时间',
						nameTextStyle:{
								color: '#999',
								fontStyle: 'italic',
								fontWeight: 'normal',
								fontSize: 14,
						},
						boundaryGap: false,
						axisLine: {
							show: true,
							lineStyle: {
								color: '#999',
							}
						},
						data: (function (){
							var now = new Date();
							var res = [];
							var len = 10;
							while (len--) {
								res.unshift(now.toLocaleTimeString('chinese',{hour12:true}).replace(/^\D*/,''));   //unshift() 方法可向数组的开头添加一个或更多元素，并返回新的长度。
								now = new Date(now - 1000);
							}
							return res;                     //返回一个以当前时间为末位的间隔为2秒的10元素的列表
						})()
					},
					yAxis: {
						type: 'value',
						name: '电量/Wh',
						axisLine: {
							show: true,
							lineStyle: {
								color: '#999',
							}
						},
						boundaryGap: [0, '30%'],
						splitLine: {
							show: true
						}
					},
					series: [
						
					]
				};

                return option;
            },
			//SupplyCurrentDic={'10245004':[10,20,30,40...], '10245005':[10,20,30,40...],...}
            updateLineChartSC: function(cid, y_value, option) {
				var _this = this;
				var flag = 0;
				if(!_this.SupplyCurrentDic[cid])
					_this.SupplyCurrentDic[cid] = [];
				
				//if(_this.SupplyCurrentDic[cid].length > 10)	//每个cid list存储10个实时充电数据
				//	_this.SupplyCurrentDic[cid].shift();

				_this.SupplyCurrentDic[cid].push(y_value);

				for(var i in option.series)
				{
					if(option.series[i].name == cid){
						flag=1;
						option.series[i].data = this.SupplyCurrentDic[cid];
						if(this.SupplyCurrentDic[cid].length > this.listLength)
							this.listLength = this.SupplyCurrentDic[cid].length
					}
				}
				if(flag == 0)		//不存在该cid折线图时动态创建
				{
					_this.SupplyCurrentDic[cid] = [];
					for(i=0;i<this.listLength;i++)		//和其他折线保持时间同步
						_this.SupplyCurrentDic[cid].push('/');
					_this.SupplyCurrentDic[cid].push(y_value);

					var item = {
						name: cid,
						type: 'line',
						smooth: true,
						lineStyle: {
							normal: {
								width: 2,
								shadowColor: 'rgba(0,0,0,0.4)',
								shadowBlur: 10,
								shadowOffsetY: 10
							}
						},
						data:_this.SupplyCurrentDic[cid]
					}
					option.series.push(item);
					option.legend.data.push(cid);
				}

                //_this.myChart.setOption(option);
            },
			updateLineChartCE: function(cid, y_value, option) {
				var _this = this;
				var flag = 0;
				if(!_this.ConsumedEnergyDic[cid])
					_this.ConsumedEnergyDic[cid] = [];
				
				//if(_this.ConsumedEnergyDic[cid].length > 10)	//每个cid list存储10个实时充电数据
				//	_this.ConsumedEnergyDic[cid].shift();

				_this.ConsumedEnergyDic[cid].push(y_value);

				for(var i in option.series)
				{
					if(option.series[i].name == cid){
						flag=1;
						option.series[i].data = this.ConsumedEnergyDic[cid];
					}
				}
				if(flag == 0)		//不存在该cid折线图时动态创建
				{
					_this.ConsumedEnergyDic[cid] = [];
					for(i=0;i<this.listLength;i++)		//和其他折线保持时间同步
						_this.ConsumedEnergyDic[cid].push('/');
					_this.ConsumedEnergyDic[cid].push(y_value);

					var item = {
						name: cid,
						type: 'line',
						smooth: true,
						lineStyle: {
							normal: {
								width: 2,
								shadowColor: 'rgba(0,0,0,0.4)',
								shadowBlur: 10,
								shadowOffsetY: 10
							}
						},
						data:_this.ConsumedEnergyDic[cid]
					}
					option.series.push(item);
					option.legend.data.push(cid);
				}

                //_this.myChart.setOption(option);
            },
            pieChart: function(){

                /*3個儀錶盤*/
                var guage1 = echarts.init(document.getElementById('guage1'));

                var option = {
                    tooltip : {
                        formatter: "{a} <br/>{c} {b}"
                    },
                    toolbox: {
                        show: true,
                        feature: {
                            restore: {show: true},
                            saveAsImage: {show: true}
                        }
                    },
                    series : [
                        {
                            name: '转速',
                            type: 'gauge',
                            center: ['19%', '50%'],    // 默认全局居中
                            radius: '100%',
                            min:0,
                            max:200,
                            //endAngle:45,
                            splitNumber:5,
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 8
                                }
                            },
                            axisTick: {            // 坐标轴小标记
                                length:12,        // 属性length控制线长
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    color: 'auto'
                                }
                            },
                            splitLine: {           // 分隔线
                                length:20,         // 属性length控制线长
                                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                    color: 'auto'
                                }
                            },
                            pointer: {
                                width:5
                            },
                            title: {
                                offsetCenter: [0, '-30%'],       // x, y，单位px
                            },
                            detail : {
                                fontWeight: 'bolder',
                                offsetCenter: [0, '70%'],
                                fontSize: 18
                            },
                            data:[{value: 1.5, name: ''}]
                        },
                        {
                            name: '速度',
                            type: 'gauge',
                            center: ['50.5%', '50%'],
                            z: 3,
                            min: 0,
                            max: 200,
                            splitNumber: 5,
                            radius: '100%',
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 10
                                }
                            },
                            axisTick: {            // 坐标轴小标记
                                length: 15,        // 属性length控制线长
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    color: 'auto'
                                }
                            },
                            splitLine: {           // 分隔线
                                length: 20,         // 属性length控制线长
                                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                    color: 'auto'
                                }
                            },
                            detail : {
                                fontWeight: 'bolder',
                                offsetCenter: [0, '70%'],
                                fontSize: 18
                            },
                            data:[{value: 1, name: ''}]
                        },
                        {
                            name: '油表',
                            type: 'gauge',
                            center: ['82%', '50%'],    // 默认全局居中
                            radius: '100%',
                            min: 0,
                            max: 200,
                            //startAngle: 135,
                            //  endAngle: 45,
                            splitNumber: 8,
                            axisLine: {            // 坐标轴线
                                lineStyle: {       // 属性lineStyle控制线条样式
                                    width: 8
                                }
                            },
                            axisTick: {            // 坐标轴小标记
                                splitNumber: 5,
                                length: 10,        // 属性length控制线长
                                lineStyle: {        // 属性lineStyle控制线条样式
                                    color: 'auto'
                                }
                            },
                            splitLine: {           // 分隔线
                                length: 15,         // 属性length控制线长
                                lineStyle: {       // 属性lineStyle（详见lineStyle）控制线条样式
                                    color: 'auto'
                                }
                            },
                            pointer: {
                                width:2
                            },
                            title : {
                                show: false
                            },
                            detail : {
                                fontWeight: 'bolder',
                                offsetCenter: [0, '70%'],
                                fontSize: 18
                            },
                            data:[{value: 0.5, name: 'gas'}]
                        }
                    ]
                };

                setInterval(
                    function (){
						var axisData = (new Date()).toLocaleTimeString().replace(/^\D*/,'');        //当前时间
						//ui.optionSC.xAxis.data.shift();                     //当前时间轴
						ui.optionSC.xAxis.data.push(axisData);
						ui.myChart.setOption(ui.optionSC);
						
						//ui.optionCE.xAxis.data.shift();                     //当前时间轴
						ui.optionCE.xAxis.data.push(axisData);
						ui.myChart1.setOption(ui.optionCE);
						
                        $.ajax({
                            url: '/api/max/current/list/',
                            method: 'get',
                            success: function(data){
                                option.series[0].data[0].value = data.int_max_current_a;
                                option.series[1].data[0].value = data.int_max_current_b;
                                option.series[2].data[0].value = data.int_max_current_c;
                                guage1.setOption(option,true);
                            },
                            error: function(e){
                                console.log('connect '+this.url+' error',e);
                            }
                        });

						ui.tableContent();
                    //},40
					},1000
                );
				
            },

            loadAjax: function(){
                //顶部电桩总数...Charger Info数量统计接口
                $.ajax({
                    url: '/api/charger/info/statistic/',
                    method: 'get',
                    timeout: 5000,
                    success: function(data){
                        var i = 0;
                        for(var d in data){
                            $('#overviewStats .value').eq(i).text(data[d]);
                            i++;
                        }
                    },
                    error: function(){
                        console.log('connect api/charger/info/statistic/ failed');
                    }
                });

            },
			getChargerList: function(){
				var groupId = jQuery.url.param('groupId');
				var chargerList = null;
                $.ajax({
                    url: '/api/charger/list/',
                    method: 'get',
					async : false,
                    data: {group_id: groupId},
                    success: function(data){
						chargerList = data.data;
                    },
                    error: function(e){
                        console.log('connect '+this.url+' error',e);
                    }
                });
				return chargerList;
			},
			addSelectOption: function(obj, val){
				var option = document.createElement("option");
				$(option).val(val);
				$(option).text(val);
				obj.append(option);
			},
			select_change: function(val){
				var _this = this;
				var chartName;
				var obj;
				if(val == 1){
					chartName = _this.myChart;
					obj = $("#select-sc");
				}else{
					chartName = _this.myChart1;
					obj = $("#select-ce");
				}
					
				if(obj.val() == "all"){
					var selectList = [];
					for(var i=0; i<_this.activeCidList.length; i++){
						var tmp = {name: _this.activeCidList[i]};
						selectList.push(tmp);
					}
					chartName.dispatchAction({
						type: 'legendSelect',
						batch: selectList
					});
				}else{
					var unSelectList = [];
					for(var i=0; i<_this.activeCidList.length; i++){
						if(obj.val() != _this.activeCidList[i]){
							var tmp = {name: _this.activeCidList[i]};
							unSelectList.push(tmp);
						}
					}
					//console.log(unSelectList);
					chartName.dispatchAction({
						type: 'legendUnSelect',
						batch: unSelectList
					});
					chartName.dispatchAction({
						type: 'legendSelect',
						name: obj.val()
					});
				}
			},
			init_dic: function(res){	//初始化三个dic
				var _this = this;
				$.each(res, function(index, item){
					_this.SupplyCurrentDic[item.vch_charger_id] = [];
					_this.ConsumedEnergyDic[item.vch_charger_id] = [];
					_this.chargeTimeDic[item.vch_charger_id] = null;
					_this.chargeTimerDic[item.vch_charger_id] = null;
				});
			},
            tableContent: function(){
                var res = this.getChargerList();
				var html = '';
				if(res){
					$.each(res, function(index, item){
						html += '<tr>\
									<td><a href="/details/" target="_blank" role="button">'+item.vch_charger_id+'</a></td>\
									<td>'+item.vch_firmware_ver+'</td>\
									<td>'+item.vch_model_id+'</td>\
									<td>'+item.vch_command+'</td>\
									<td>'+item.dtt_lastConnTime+'</td>\
									<td class="text-navy" id="cid_' +item.vch_charger_id+ '">'+item.vch_state+'</td>\
									<td>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">开始充电</a>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">复位</a>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">更新</a>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">停止充电</a>\
										<a href="#" target="_blank" class="btn btn-primary btn-xs" role="button">拓展</a>\
									</td>\
								</tr>';
					});

					$('#table_content').html(html);
				}
            },
			eventsHandler: function(){
                window.addEventListener("resize", () => {
                    ui.myChart.resize();
                    ui.myChart1.resize();
                });
            },

            init: function(){
				this.loadAjax();
                this.lineChart();
                this.pieChart();
				this.init_dic(this.getChargerList());
				this.tableContent();
				this.eventsHandler();
            }
        }

        $(document).ready(function(){
            ui.init();
        });
		$(document).ajaxSend(function(event, xhr, settings) {
			function getCookie(name) {
				var cookieValue = null;
				if (document.cookie && document.cookie != '') {
					var cookies = document.cookie.split(';');
					for (var i = 0; i < cookies.length; i++) {
						var cookie = jQuery.trim(cookies[i]);
						// Does this cookie string begin with the name we want?
						if (cookie.substring(0, name.length + 1) == (name + '=')) {
							cookieValue = decodeURIComponent(cookie.substring(name.length + 1));
							break;
						}
					}
				}
				return cookieValue;
			}
			function sameOrigin(url) {
				// url could be relative or scheme relative or absolute
				var host = document.location.host; // host + port
				var protocol = document.location.protocol;
				var sr_origin = '//' + host;
				var origin = protocol + sr_origin;
				// Allow absolute or scheme relative URLs to same origin
				return (url == origin || url.slice(0, origin.length + 1) == origin + '/') ||
					(url == sr_origin || url.slice(0, sr_origin.length + 1) == sr_origin + '/') ||
					// or any other URL that isn't scheme relative or absolute i.e relative.
					!(/^(\/\/|http:|https:).*/.test(url));
			}
			function safeMethod(method) {
				return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
			}

			if (!safeMethod(settings.type) && sameOrigin(settings.url)) {
				xhr.setRequestHeader("X-CSRFToken", getCookie('csrftoken'));
			}
		});
		
    </script>


{% endblock script %}
