{% extends 'base.html' %}
{% load staticfiles %}
{% block content %}

<style>
.p10 { float: left; width: 10%; padding: 0 15px; }
#chargerGroup .widget{ padding: 10px 0; text-align: center; border-radius: 0; }
#charger_note .b_item{ float: left; padding: 0 15px; }
.b_item .block{ display: inline-block !important; width: 50px; height: 10px; }
.b_item p { display: inline-block; }
</style>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row" id="overviewStats">
       <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="icon iconfont icon-chongdianzhuang fa-4x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 电桩总数 </span>
                        <h2 class="font-bold value total-charger">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 navy-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="icon iconfont icon-chargingpile fa-4x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 总充电电量 </span>
                        <h2 class="font-bold value accumulate-power">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 lazur-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="icon iconfont icon-attacktime fa-4x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 总充电次数 </span>
                        <h2 class="font-bold value accumulate-minutes">0</h2>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-3">
            <div class="widget style1 yellow-bg">
                <div class="row">
                    <div class="col-xs-4">
                        <i class="icon iconfont icon-zhengzaishiyong fa-4x"></i>
                    </div>
                    <div class="col-xs-8 text-right">
                        <span> 正在使用 </span>
                        <h2 class="font-bold value total-charging">0</h2>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <!-- 10x10 -->
    <div class="ibox float-e-margins">
        <div class="ibox-content">
            <div id="charger_note" class="row">
                <div class="b_item">
                    <div class="block navy-bg"></div>
                    <p>Available</p>
                </div>
                <div class="b_item">
                    <div class="block lazur-bg"></div>
                    <p>Charging</p>
                </div>
                <div class="b_item">
                    <div class="block yellow-bg"></div>
                    <p>Boot notification</p>
                </div>
            </div>
            <div id="chargerGroup">
                <!-- <div class="p10">
                    <div class="widget style1 navy-bg">
                        <i class="icon iconfont icon-chongdianzhuang fa-4x"></i>
                    </div>
                </div> -->
            </div>
        </div>
    </div>

    <!-- chart 1 -->
    <div class="row">
        <div class="col-md-6">
            <!-- 总电量趋势变化 -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>总电量趋势变化</h5>
                    <div class="ibox-tools">
                        <select id="select_month"  style="margin-right: 15px;width: 120px;background-color: #fff;border-radius: 5px;">
                            <option value="1">Yearly</option>
                            <option value="2">Monthly</option>
                            <option value="3">Daily</option>
                        </select>
                        <select id="select_chart2" style="width: 120px;background-color: #fff;border-radius: 5px;">
                            <option value="total">总电量趋势变化</option>
                            <option value="battery">电桩充电量变化</option>
                        </select>
                    </div>
                    <div class="ibox-content">
                        <div id="line_chart1" class="chart" style="width: 100%;height:300px;"display="none"></div>
                        <div id="line_chart2" class="chart" style="width: 100%;height:300px;" display="none"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-md-6">
            <!-- 联网状态总览 -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>联网状态总览</h5>
                    <div class="ibox-content">
                        <div id="pie_chart" style="width: 100%;height:300px;"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- chart 2 -->
    <div class="row">
         <div class="col-md-6">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>电桩总览</h5>
                    <div class="ibox-tools">
                        <select id="select_charger_num">
                            <option value="5">--请选择显示数量--</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>电桩ID</th>
                                <th>停车位列表</th>
                                <th>状态</th>
                                <th>上次连接时间</th>
                            </tr>
                            </thead>
                            <tbody id="stateList">
                                <!-- <tr>
                                    <td>巴扎嘿</td>
                                    <td>234234</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <!-- 异常电桩总览 -->
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>充电记录总览</h5>
                    <div class="ibox-tools">
                        <select id="select_record_num">
                            <option value="5">--请选择显示数量--</option>
                            <option value="5">5</option>
                            <option value="10">10</option>
                            <option value="20">20</option>
                        </select>
                    </div>
                    <div class="ibox-content">
                        <table class="table table-striped">
                            <thead>
                            <tr>
                                <th>电桩ID</th>
                                <th>停车位列表</th>
                                <th>结束充电时间</th>
                                <th>充电总电量</th>
                            </tr>
                            </thead>
                            <tbody id="recoardAll">
                                <!-- <tr>
                                    <td>巴扎嘿</td>
                                    <td>234234</td>
                                    <td class="text-navy"> <i class="fa fa-level-up"></i> 40% </td>
                                </tr> -->
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}
    <script>
        LineChart1 = echarts.init(document.getElementById('line_chart1'));
        LineChart2 = echarts.init(document.getElementById('line_chart2'));
        pieChart = echarts.init(document.getElementById('pie_chart'));
        var DEFAULT_STEP = 1;    //默认显示12个月
        var CUR_STEP = 1;
        var ui = {
            chargerGroup: function() {
                $.ajax({
                    url: '/bmw/getChargerStatesByGroup',
                    method: 'get',
                    timeout: 5000,
                    success: function(data){
                        var html = ''
                        $.each(data, function(index, item){
                            html += '<div class="row">'
                            $.each(item, function(itemIndex, itemItem){
                                var style = {available: 'navy-bg', charging: 'lazur-bg', bootnotification: 'yellow-bg'}
                                html += `<div class="p10">
                                        <div class="widget style1 ${style[itemItem.vchstate.toLowerCase()]}">
                                           ${itemItem.vchchargerid}
                                        </div>
                                    </div>`
                            })
                            html += '</div>'
                        });
                        $('#chargerGroup').html(html);
                    },
                    error: function(){
                        console.log('load '+this.url+' failed');
                    }
                });
            },
            loadChargerList: function(){
                //充电ID列表
                $.ajax({
                    url: '/api/charger/id/list/',
                    method: 'get',
                    timeout: 5000,
                    success: function(data){
                        var list = data.chargers;
                        $.each(list, function(index, item){
                            $('#select_chart1').append('<option value="'+item+'">'+item+'</option>');
                        });
                    },
                    error: function(){
                        console.log('load '+this.url+' failed');
                    }
                });
            },
            /*电桩充电量变化*/
            batteryChart: function(options) {
                /*
                *  多条折线图
                */
                document.getElementById("line_chart1").style.display="none";	//添加div->line_chart2: 修复两折线图切换时的显示的bug
                document.getElementById("line_chart2").style.display="block";
                // 指定图表的配置项和数据
                var colors = ['#5793f3', '#d14a61', '#1ab394'];

                $.ajax({
                    url: '/bmw/chart/getRecentChargerRecords',
                    method: 'get',
                    data:{mode:options},
                    timeout: 5000,
                    success: function(response){
                        var lists = response;

                        var series = [];
                        var legendData = [];
                        var xData = [];

                        var option = {
                            title: {
                                text: '电桩充电量变化'
                            },
                            tooltip: {
                                trigger: 'axis'
                            },
                            legend: {
                                left: 'right',
                                width: '80%',
                                data: legendData
                            },
                            grid: {
                                left: '2%',
                                right: '6%',
                                bottom: '12%',
                                containLabel: true
                            },
                            toolbox: {
                                feature: {
                                    saveAsImage: {}
                                }
                            },
                            xAxis: {
                                type: 'category',
                                boundaryGap: false,
                                axisLabel: {
                                    interval: 0,  //类目全显
                                    rotate: -30   //顺时针旋转30度
                                },
                                data: xData
                            },
                            yAxis: {
                                type: 'value',
                                name: 'WH/瓦时',
                            }
                        };

                        if(lists.length === 0) {
                            LineChart2.clear();
                            LineChart2.setOption(option);
                            return;
                        }

                        for(var i =0; i<lists[0].x.length; i++){
                            xData.push(lists[0].x[i]);
                        }

                        lists.forEach(item => {
                            legendData.push(item.charger_id);

                            var _data = [];

                            for(var i =0; i<item.x.length; i++){
                                _data.push(item.y[i]);
                            }

                            var serie =  {
                                name: item.charger_id,
                                type:'line',
                                //stack: '电量',	//导致多条折线图重叠
                                smooth: true,
                                data: _data
                            }
                            series.push(serie);
                        });

                        option.series = series;
                        option.legend.data = legendData;

                        // 使用刚指定的配置项和数据显示图表。
                        LineChart2.setOption(option);
                    },
                    error: function(){
                        console.log('load '+this.url+' failed');
                    }
                });
            },
            /*新版 按照Year Month Day区分  总电量趋势变化*/
            chart: function(options) {
                // var send_data = charger_id?{ charger_id: charger_id }:{}
                /*
                *  折线图
                */
                document.getElementById("line_chart1").style.display="block";
                document.getElementById("line_chart2").style.display="none";
                // 指定图表的配置项和数据
                var colors = ['#5793f3', '#d14a61', '#1ab394'];

                $.ajax({
                    url: '/bmw/chart/getAllRecentChargerRecords',
                    method: 'get',
                    data:{
                        mode: options,
                        charger_id: null
                    },
                    timeout: 5000,
                    success: function(data){
                        var zoom = options === '3' ? {
                            dataZoom: [{
                                startValue: data.x[data.x.length-7]
                            }, {
                                type: 'inside'
                            }],
                        } : {};

                        var series = [
                                {
                                    name:'电量',
                                    type:'line',
                                    smooth: true,
                                    data: data.y
                                }
                            ];
                        var option = {
                            title: {
                                text: '总电量趋势变化'
                            },
                            color: colors,
                            tooltip: {
                                trigger: 'axis',
                            },
                            legend: {
                                data:['电量' ]
                            },
                            grid: {
                                left: '2%',
                                right: '6%',
                                bottom: '18%',
                                containLabel: true
                            },
                            xAxis: [
                                {
                                    type: 'category',
                                    axisLabel:{
                                      interval:0,  //类目全显
                                      rotate:-30   //顺时针旋转30度
                                    },
                                    axisTick: {
                                        alignWithLabel: true
                                    },
                                    axisLine: {
                                        onZero: false,
                                        lineStyle: {
                                            color: '#333'
                                        }
                                    },
                                    axisPointer: {
                                        label: {
                                            formatter: function (params) {
                                                return '电量  ' + params.value
                                                    + (params.seriesData.length ? '：' + params.seriesData[0].data : '');
                                            }
                                        }
                                    },
                                    data: data.x
                                }
                            ],
                            yAxis: [
                                {
                                    type: 'value',
                                    name: 'WH/瓦时',
                                }
                            ],
                            series: series,
                            ...zoom
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        LineChart1.setOption(option);
                    },
                    error: function(){
                        console.log('load '+this.url+' failed');
                    }
                });
            },

            chart2: function(){
                //联网状态总览
                $.ajax({
                    url: '/api/charger/state/statistic/',
                    method: 'get',
                    timeout: 5000,
                    success: function(data){
                        var result = data.result;
                        var data = [];
                        var dataIndex = [];
                        $.each(result, function(index, item){
                            for(var ite in item){
                                data.push({ value: item[ite], name: ite});
                                dataIndex.push(ite);
                            }
                        })
                        /**
                        * 饼图
                        */
                        option = {
                            title: {
                                text: '联网状态总览'
                            },
                            tooltip: {
                                trigger: 'item',
                                formatter: "{a} <br/>{b}: {c} ({d}%)"
                            },
                            legend: {
                                type: 'scroll',
                                orient: 'vertical',
                                right: 0,
                                top: 20,
                                bottom: 20,
                                data: dataIndex,
                                selected: data.selected
                            },
                            series: [
                                {
                                    name:'',
                                    type:'pie',
                                    radius: ['50%', '70%'],
                                    center: ['30%', '50%'],
                                    avoidLabelOverlap: false,
                                    label: {
                                        normal: {
                                            show: false,
                                            position: 'center'
                                        },
                                        emphasis: {
                                            show: true,
                                            textStyle: {
                                                fontSize: '30',
                                                fontWeight: 'bold'
                                            }
                                        }
                                    },
                                    labelLine: {
                                        normal: {
                                            show: false
                                        }
                                    },
                                    data:data
                                }
                            ]
                        };

                        // 使用刚指定的配置项和数据显示图表。
                        pieChart.setOption(option);

                    },
                    error: function(){
                        console.log('connect api/charger/state/statistic/ failed');
                    }
                });
            },

            loadAjax: function(){
                //顶部电桩总数...Charger Info数量统计接口
                $.ajax({
                    url: '/api/charger/info/statistic/',
                    method: 'get',
                    timeout: 5000,
                    success: function(data){
                        $('#overviewStats .total-charger').text(data["total_charger"]);
                        $('#overviewStats .total-charging').text(data["total_charging"]);
                        $('#overviewStats .accumulate-power').text(data["accumulate_power"]);
                        $('#overviewStats .accumulate-minutes').text(data["accumulate_minutes"]);
                    },
                    error: function(){
                        console.log('connect api/charger/info/statistic/ failed');
                    }
                });

            },

            chargerTable: function(num){
                //电桩总览接口
                $.ajax({
                    url: '/api/recent/charger/state/list/',
                    method: 'get',
                    data: {num: num},
                    timeout: 5000,
                    success: function(data){
                        var result = data.result;
                        var html = '';

                        $.each(result, function(index, item){
                            html += '<tr>\
                                        <td>'+item.vchchargerid+'</td>\
                                        <td>'+item.floor+'</td>\
                                        <td>'+item.vchstate+'</td>\
                                        <td> '+item.dttlastconntime.replace('T', ' ')+' </td>\
                                    </tr>';
                        });
                        $('#stateList').html(html);
                    },
                    error: function(){
                        console.log('connect api/recent/charging/record/list/ failed');
                    }
                });
            },

            chargingRecordTable: function(num){
                // 充电记录总览接口
                $.ajax({
                    url: '/api/recent/charging/record/list/',
                    method: 'get',
                    data: {num: num},
                    timeout: 5000,
                    success: function(data){
                        var result = data.result;
                        var html = '';

                        $.each(result, function(index, item){
                            html += '<tr>\
                                        <td>'+item.vchchargerid+'</td>\
                                        <td>'+item.floor+'</td>\
                                        <td>'+item.dttfinishtime.replace('T', ' ')+'</td>\
                                        <td class="text-navy"> '+item.dblenergy+' </td>\
                                    </tr>';
                        });
                        $('#recoardAll').html(html);
                    },
                    error: function(){
                        console.log('connect api/recent/charging/record/list/ failed');
                    }
                });
            },

            eventsHandler: function(){
                var _this = this;
                /* chart 1 select */
                // $('#select_chart1').change(function(){
                //     var id = $(this).val();
                //     _this.chart(id);
                // });
                $('#select_month').change(function(){
                    CUR_STEP = $(this).val();
                    if($('#select_chart2').val() == 'total') {
                        _this.chart(CUR_STEP);//总电量
                    }else{
                        _this.batteryChart(CUR_STEP);//电池电量
                    }
                 });
                $('#select_chart2').change(function(){
                    var value = $(this).val();
                    if(value == 'total') {
                        _this.chart(CUR_STEP);//总电量
                    }else{
                        _this.batteryChart(CUR_STEP);//电池电量
                    }
                });
                $('#select_record_num').change(function(){
                    var value = $(this).val();
                    _this.chargingRecordTable(value);
                });
                $('#select_charger_num').change(function(){
                    var value = $(this).val();
                    _this.chargerTable(value);
                });

                window.addEventListener("resize", () => {
                    LineChart1.resize();
                    LineChart2.resize();
                    pieChart.resize(); 
                });
            },

            init: function(){
                //this.loadChargerList();
                this.chart(DEFAULT_STEP);
                this.loadAjax();
                this.chart2();
                this.chargingRecordTable(10);
                this.chargerTable(10);
                this.eventsHandler();
                this.chargerGroup();
            }
        }
        $(document).ready(function(){
           $('#select_month').val(DEFAULT_STEP);
           ui.init();
        });
    </script>

{% endblock script %}


